body {
  margin: 0;
  font-family: "Lato", sans-serif;
}


.btn-standard {
  width: 100% !important;
  background-color: #ff3366 !important;
  color: #fff !important;
}

.btn-standard:hover {
  background-color: #fc285d !important;
  color: #fff !important
}